<div class="main-page-container">
  <section class="home-section home-landing-section">
    <div class="lrg-background-text">
      MORDEV STUDIO.
    </div>
    <div class="landing-text-wrapper">
      <h1>hello there,<br>we are <span style="color: black">mordev studio.</span><br>we design things.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et venenatis quam, nec condimentum nisi. Aenean vel hendrerit ligula. Curabitur ac finibus lorem, eget volutpat ligula. </p>
    </div>
  </section>
  <section class="home-section home-work-section">

  </section>
  <section class="home-section home-services-section">

  </section>
  <section class="home-section home-testimonials-section">

  </section>
  <section class="home-section home-blog-section">

  </section>
  <section class="home-section home-start-section"></section>
</div>