<div class="main-page-container">
  <section class="home-section home-landing-section">
    <div class="lrg-background-text">
      <h1>MORDEV STUDIO.</h1>
    </div>
    <div class="landing-text-wrapper">
      <h1>hello there,<br>we are <span style="color: black">mordev studio.</span><br>we design things.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et venenatis quam, nec condimentum nisi. Aenean
        vel hendrerit ligula. Curabitur ac finibus lorem, eget volutpat ligula. </p>
      <a href="/about" class="contact-button">Check Us Out</a>
    </div>
  </section>
  <section class="home-section home-work-section">
    <div *ngFor="let case of casesData" class="cases">
      <app-home-case-study [caseStudy]="case"></app-home-case-study>
    </div>
  </section>
  <section class="home-section home-about-section">
    <div class="home-about-section-inside">
      <h1>we’re <span style="color: white">technologists</span> and <span style="color: white">entrepreneurs</span>, so
        we understand both the technical and business challenges of creating digital products.</h1>
    </div>
  </section>
  <section class="home-section home-services-section">
    <div *ngFor="let service of servicesData" class="services">
      <app-home-service [service]="service"></app-home-service>
    </div>
  </section>
  <section class="home-section home-testimonials-section">
    <div class="home-testimonials-section-inside testimonial">
      <app-home-testimonials [testimonials]="testimonialData"></app-home-testimonials>
    </div>
  </section>
  <section class="home-section home-blog-section">
    <div class="home-blog-section-inside">
      <div *ngFor="let blogpost of blogpostData">
        <app-home-blogposts [blogpost]="blogpost"></app-home-blogposts>
      </div>
    </div>
  </section>
</div>