.large-service {
    height: 100vh;
    width: 100%;
}

.service-left {
    width: 50%;
    float: left;
    height: 100%;
    padding: 3vw;
}

.service-right {
    width: 50%;
    height: 100%;
    float: left;
    padding: 3vw;
}

.service-right-inside {
    width: 100%;
    height: 100%;
}