<div class="main-page-container">
  <section class="page-heading">
    <div class="lrg-background-text">
      <h1>SERVICES.</h1>
    </div>
    <div class="heading-text-wrapper">
      <h1>Our <span style="color: black">Services</span></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et venenatis quam, nec condimentum nisi. Aenean
        vel hendrerit ligula. Curabitur ac finibus lorem, eget volutpat ligula.</p>
    </div>
  </section>
  <section class="services-grid">
    <div *ngFor="let service of services">
      <app-home-service [service]="service"></app-home-service>
      <!-- <app-large-services [service]="service"></app-large-services> -->
    </div>
  </section>
</div>