.home-service {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    float: right;
    padding: 3vw;
    position: relative;
    
}

.home-service-inside {
    width: auto;
    height: 100%;
    position: relative;
    padding-left: 6vw;
    padding-bottom: 6vw;
    background-color: rgb(240,240,240);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-start;
    color: white;
    overflow: hidden;
}

.home-service-inside:hover {
    cursor: pointer;
}

.service-overlay {
    position: absolute;
    z-index: 1;
    background: rgba(30,30,30,.25);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transition: all .25s;
}

.service-overlay.open {
    background: rgba(30,30,30, .5);
}

.home-service-inside:hover .service-overlay {
    background: rgba(30,30,30, .5);
}

.service-title-wrapper {
    height: auto;
    width: auto;
    position: absolute;
    bottom: 6vw;
    left: 6vw;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-start;
    transition: all .5s;
}

.service-title-wrapper.open {
    bottom: 6vw;
    left: 56vw;
}

.service-title {
    font-size: 3vw;
}

.service-info {
    position: absolute;
    padding: 0vw;
    color: white;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: rgb(30,30,30);
    overflow: hidden;
    transition: width .5s;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-start;
}

.service-info.open {
    width: 50%;
}

.service-info-inside {
    position: absolute;
    height: 100%;
    top: 0vw;
    left: 0vw;
    padding: 6vw;
    width: 38vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-start;
    z-index: 4;
    opacity: 0;
    transition: opacity .25s;
    transition-delay: .25s;
}

.service-info-inside.open {
    opacity: 1;
}

.service-info-inside p {
    color: white;
}