.home-service {
    width: 50%;
    height: 70vh;
    overflow: hidden;
    float: right;
    padding: 3vw;
    position: relative;
    
}

.home-service-inside {
    width: auto;
    height: 100%;
    position: relative;
    background-color: rgb(240,240,240);
}

.home-service-inside:hover {
    cursor: pointer;
}