<div *ngIf="service" class="home-service">
  <div class="home-service-inside" [ngStyle]="setStyles()" (click)="openServiceInfo()">
    <div class="service-overlay" [ngClass]="{'open': infoOpen}"></div>
    <div class="service-info" [ngClass]="{'open': infoOpen}">
      <div class="service-info-inside" [ngClass]="{'open': infoOpen}">
        <p>{{ service.content }}</p>
        <a (click)="navigateTo()">Learn More</a>
      </div>
    </div>
    <div class="service-title-wrapper" [ngClass]="{'open': infoOpen}">
      <h3 class="service-title">{{ service.title }}</h3>
    </div>
  </div>
</div>