.navbar {
    margin-top: 5vh;
    padding: 0 5vw 0 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    z-index: 1000;
}

.left-navbar {
    width: 12vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.right-navbar {
    display: inline-block;
}

.header-email {
    position: fixed;
    left: 0px;
    bottom: 6vw;
    transform: rotate(-90deg);
    color: black !important;
    text-decoration: none !important;
}

li {
    text-align: right;
}

.logo-home-link {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    // color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 3vw;
    line-height: 3vw;
    transition: all .45s;
}

.header-nav-link {
    text-decoration: none;
    color: black;
    font-family: 'Muli', monospace;
    font-size: .7vw;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: inline-block;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(255,255,255,0);
    transition: all .45s;
}

.header-nav-link:hover {
    font-weight: bolder;
    border-bottom: 1px solid white;
}

.header-nav-links {
    list-style: none;
    padding-left: 0;
}