.navbar {
    margin-top: 5vh;
    padding: 0 6vw 0 6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    z-index: 1000;
}

.left-navbar {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}

.center-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right-navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}

.header-email {
    position: fixed;
    left: 0px;
    bottom: 6vw;
    transform: rotate(-90deg);
    color: black !important;
    text-decoration: none !important;
}

li {
    text-align: right;
}

.logo-home-link {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    // color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1.75vw;
    line-height: 2vw;
    transition: all .45s;
}

.header-nav-link {
    text-decoration: none;
    color: black;
    font-family: 'Muli', monospace;
    font-size: .8vw;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid rgba(255,255,255,0);
    transition: all .45s;
}

.header-nav-link:hover {
    font-weight: bolder;
    border-bottom: 1px solid white;
}

.header-nav-links {
    list-style: none;
    padding-left: 0;
}

.contact-button {
    cursor: pointer;
    border: 2px solid rgb(30,30,30);
    background-color: rgba(30,30,30, 0);
    color: rgb(30,30,30);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    line-height: 2vw;
    font-weight: 400;
    padding: .75vw 1.25vw;
    transition: all .25s;
}

.contact-button:hover {
    background-color: rgba(30,30,30, 1);
    color: white !important;
}