.testimonial {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
}

.testimonial-content {
    font-size: 2vw;
    color: rgb(223, 223, 223);
    margin-bottom: 50px;
}

.testimonial-info {
    height: auto;
    margin-bottom: 80px;
}

.testimonial-name {
    display: block;
    margin-bottom: 7px;
}

.testimonial-company {
    display: block;
}

.testimonial-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.left-arrow, .right-arrow {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
}

.left-arrow {
    transform: rotate(180deg);
    margin-right: 10px;
}

.right-arrow { 
    margin-left: 10px;
}